@{
    ViewData["Title"] = "Home Page";
    Layout = "_BlankLayout";
}

<h3>Home</h3>
<a asp-controller="Account" asp-action="Login">Login</a>
<a asp-controller="Account" asp-action="Register">Register</a>
