@{
    ViewData["Title"] = "Home Page";
    Layout = "_BlankLayout";
}

<div class="flex-container-start">
    <div class="left-container-start">
        <img src="~/img/LogoDEP.png" class="logo-dep" />
        <div class="font-bit">Digital Event Planner</div>
    </div>
    <div class="right-container-start">
        <div class="font-quicksand">Welcome to Digital Event Planner</div>
        <div class="font-quicksand-small  text-container-start">We are here to change your dream event in reality.
        Our main porpose is to connect people which need services with people which provide services,
        in a controlled manner and fitting customer buget. Get rid of third party services which charge you commission.</div>
        <div class="font-quicksand" style="font-size:23px;">Join us for the best planning experience</div>

        <div style="display:flex;flex-direction:row;margin-top:20px;">
            <a asp-controller="Account" asp-action="Login" class="btn btn-outline-primary">Login</a>
            <a asp-controller="Account" asp-action="Register" class="btn btn-outline-primary">Register</a>
        </div>

    </div>
</div>





