@using DigitalEventPlaner.Web.Models.EventPlanning
@model EventPlanningStep2ViewModel
@{
    ViewData["Title"] = "Profile Page";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h3>@Model.Step1.Estimation</h3>
